:root {
    --main-bg-color: #F3E9F1;
    --produit-color: rgb(243, 149, 9);
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

header img {
    width: 13rem;
    margin-left: 1rem;
    height: auto;
}

nav {
    margin-left: 3rem;
    line-height: 6rem;
}

nav a {
    padding-right: 1rem;
    text-align: center;
    color: rgb(38, 31, 43);
    text-decoration: none;
}

nav a:hover {
    opacity: 80%;
}

h1 {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

/* STYLE Accueil */

.liste_produit img {
    width: 20rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px rgb(201, 200, 200);
}

.liste_produit a {
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

.liste_produit a:hover {
    opacity: 80%;
}

.liste_produit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.prix_produit {
    color: rgb(38, 31, 43);
}

.nom_produit {
    color: var(--produit-color);
    font-weight: bold;
}

.menu {
      display: none;  
}

/* STYLE PRODUIT */


#my_product {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#description {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    min-width: 10rem;
    font-size: 16px;
}

#name {
    font-size: 36px;
    margin-bottom: 0;
}

#prix {
    font-size: 22px;
    margin-bottom: 1rem;
}

#colors {
    margin-bottom: 2rem;
}

#my_product img {
    width: 30rem;
    margin: 1rem;
}

#my_product a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}

#my_product a:hover {
    opacity: 70%;
}

/* STYLE PANIER */

#content img {
    width: 13rem;
    margin: 1rem;
}

.formulaire {
    margin-left: 2rem;
}

form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

legend {
    margin-bottom: 2rem;
}

input {
    margin-bottom: 1.5rem;
    border: 1px solid rgb(167, 164, 164);
    border-radius: 4px;
    width: 20rem;
    height: 20px;
}


.coord_form {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

.adresse_form {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.btn-cde {
    background-color: var(--main-bg-color);
    border: 1px solid rgb(167, 164, 164);
    border-radius: 10px;
    font-size: 18px;
    padding: 1rem;
    max-width: 18rem;
    text-align: center;
    margin-bottom: 1rem;
}

#btn_order:hover {
    opacity: 70%;
}

.formulaire a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.formulaire a:hover {
    opacity: 70%;
}


@media (max-width: 599px) {

    header {
        flex-direction: column;
    }

    header a {
        display: flex;
        flex-direction: column;
        line-height: 3rem;
    }

    header img {
        margin: auto;
    }
}