:root {
    --main-bg-color: #F3E9F1;
    --produit-color: rgb(243, 149, 9);
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

header img {
    width: 13rem;
    margin-left: 1rem;
    height: auto;
}

nav {
    margin-left: 3rem;
    line-height: 6rem;
    position: relative;
}

nav a {
    padding-right: 1rem;
    text-align: center;
    color: rgb(38, 31, 43);
    text-decoration: none;
}

nav a:hover {
    opacity: 80%;
    color: rgb(64, 17, 141);
    font-weight: bold;
}


h1 {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

/* STYLE Accueil */

.list_products img {
    width: 20rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px rgb(201, 200, 200);
}

.list_products a {
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

.list_products a:hover {
    opacity: 80%;
}

.list_products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product_price {
    color: rgb(38, 31, 43);
}

.product_name {
    color: var(--produit-color);
    font-weight: bold;
}

.menu {
    display: none;
}

/* STYLE PRODUIT */


#my_product {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#description {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    min-width: 10rem;
    font-size: 16px;
}

#name {
    font-size: 36px;
    margin-bottom: 0;
}

#price {
    font-size: 22px;
    margin-bottom: 1rem;
}

#colors {
    margin-bottom: 1rem;
}

#quantity {
    width: 2.5rem;
}

#my_product img {
    width: 30rem;
    margin: 1rem;
}

#my_product a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}

#my_product a:hover {
    opacity: 70%;
}

/* STYLE PANIER */

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 2rem;
}

th,
td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.short-text {
    display: none;
}

#content img {
    width: 10rem;
    margin-top: 1rem;
}

.form {
    margin-left: 2rem;
}

form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    margin-bottom: 1.5rem;
    border: 1px solid rgb(167, 164, 164);
    border-radius: 4px;
    width: 20rem;
    height: 20px;
}


.coord_form {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-bottom: 1rem;
}

.legends_form {
    font-weight: bold;
}

.adresse_form {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.btn-delete {
    color: black;
}

.btn-delete:hover {
    cursor: pointer;
}

#btn-clear {
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 3rem;
}

#btn-clear:hover {
    opacity: 70%;
}


.btn-order {
    background-color: var(--main-bg-color);
    border: 1px solid rgb(167, 164, 164);
    border-radius: 10px;
    font-size: 18px;
    padding: 1rem;
    max-width: 18rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

#btn-order:hover {
    opacity: 70%;
}

#btn-order {
    font-weight: bold;
}

.form a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form a:hover {
    opacity: 70%;
}

/* Panier vide */
#empty_cart {
    text-align: center;
}

/* Commande */
#recap {
    text-align: center;
    margin-top: 5rem;
}

#orderId {
    font-weight: bold;
}

.totalPayed {
    font-weight: bold;
}

/* Petit écrans */
@media (max-width: 599px) {

    header {
        flex-direction: column;
        min-width: 410px
    }

    header a {
        display: flex;
        flex-direction: column;
        line-height: 3rem;
    }

    header img {
        margin: auto;
    }

    /* ACCUEIL */

    .list_products img {
        width: 15rem;
        margin-top: 1rem;
        box-shadow: 2px 2px 10px rgb(201, 200, 200);
    }

    /* PRODUIT */

    #my_product img {
        max-width: 100%;
        height: auto;
    }

    /* PANIER */

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }
}